/*
COLORS:
Selected Green: #21c113
Unselected: white
Dark Green: #106009
*/
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

@keyframes slideIn {
	0% {
		top: 100vh;
	}
	100% {
		top: 0px;
	}
}
* {
    --theme-selected: #21c113;
    --theme-dark: #106009;
    --theme-light: #43ff38;
    --theme-superblack: #072d04;
	--font-family: 'Titillium Web', sans-serif;
	--font-size: 15px;
    color: var(--theme-dark);
	font-family: var(--font-family);
    font-size: var(--font-size);
}
body {
    /*height: 100vh;
    width: 100vw;*/
    margin: 0px;
    padding: 0px;
	overflow: hidden;
}
img, canvas {
    margin: 20px;
	background-color: white;
	border-radius: 2px;
	box-shadow: 0px 2px 5px rgba(255,255,255,0.5); /* its white */
}

/* Max width should be specified somewhere else */
.scalableImage {
    width: 100%;
    height: auto;
}
.noPointer {
    pointer-events: none;
}
*:focus {
    outline: none;
}
p,h1 {
    margin: 0px;
    padding: 15px 20px;
}
h1 {
	margin: 0px;
	color: white;
	background-color: var(--theme-selected);
}
.pop, button {
    box-shadow: 0px 2px 5px grey;
    border-radius: 2px;
    background-color: white;
	flex-grow: 1;
}
.innerSection {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	padding: 20px;
}
.innerSection > .pop {
	margin: 20px;
}
div.pop:not(.indicator) {
    margin: 40px;
}
div.section, #mods {
	margin: 20px;
	padding-bottom: 0.016px;
}
.indicator {
	position: absolute;
	top: -20px;
	left: -20px;
	width: 40px;
	height: 40px;
	background-color: white;
	background-image: url("assets/question-mark-rounded.svg");
	margin: 0px;
}
.indicator.correct {
	background-color: #21c113; /*Green */
	background-image: url("assets/checkmark-rounded.svg");
}
.indicator.incorrect {
	background-color: red;
	background-image: url("assets/x-rounded.svg");
}
button {
    padding: 0px 5px;
    border: 15px solid white;
    background-color: white;
    margin: 5px;
    display: inline;
    transition: 0.5s;
}
button:hover {
    cursor: pointer;
}
.selectable {
    transition: 0s;
}
.selectable:focus, button:focus {
    outline: none;
}
.selectable.selected, button:active:not(.selectable) {
    border: 0px solid var(--theme-selected);
    padding: 15px 20px;
    background-color: var(--theme-selected);
    color: white;
    transition: 0.2s border, 0.2s padding;
}
.bottomSticky {
    position:absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
.rightAlign {
    text-align: right;
    margin-left: auto;
    display: block;
}
.question {
    padding: 15px 20px;
    border: 0px solid white;
    display: block;
    transition: 0.5s;
	position: relative;
}
.quiz {
	position: absolute;
	top: 0px;
	bottom: 0px;
	overflow: auto;
	background-color: white;
	transition: 0.5s;
}
.slideIn {
	animation: 0.5s cubic-bezier(0, 0, 0.31, 1.00) 0s 1 slideIn;
}
/*.selectable, button {
    padding: 10px 20px;
    border-radius: 2px;
    background-color: var(--theme-dark);
    color: white;
    margin: 10px;
    /*box-shadow: 0px 1px 5px var(--theme-dark);*
}
.selectable {
    padding: 5px 15px;
    display: block;
    border: 5px solid white;
}
.selectable.selected {
    border: 5px solid var(--theme-selected);
}*/
